$warning-color: #cc0000;

.Advantureland{
    font-family: "Princess Sofia";
    color: darkblue;
    font-size: 21px;
    font-weight: 800;
}

.Fantaisiland{
    font-family: "Butterfly Kids";
    color: darkblue;
    font-size: 26px;
    font-weight: 800;
}

.MainStreetUSA{
    font-family: "Old Standard TT";
    color: darkblue;
    font-size: 18px;
    font-weight: 600;
}

.Discoveryland{
    font-family: "Audiowide";
    color: darkblue;
    font-size: 16px;
    font-weight: 500;
}

.Frontierland{
    font-family: "Smokum";
    color: darkblue;
    font-size: 24px;
    font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h2, h3, p {
    margin:0;
}

main{
  display: flex;

}

h1 {
  font-size: 2em;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 50px;
}

.landsFilters{
    display: flex;
    justify-content: space-around;
    .landsFilters--button{
        border: none;
        border-radius: 20px;
        padding: 10px 20px;
    }
}


.attraction{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    .attractionIcon{
        width: 10%;
    }
    .attractionInfo{
        display: flex;
        flex-direction: column;
        width: 70%;
        .closed{
            color: $warning-color
        }
        .location{
            display: flex;
            gap: 20px;
        }
    }
    .attractionKpi{
        display: flex;
        font-size: x-large;
        font-weight: 700;
    }
}