html, body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 95vw;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  gap: 5%;
}

.header .topHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5%;
}

.header .topHeader .parcNavigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  max-height: 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.header .topHeader .parcNavigation .logo {
  max-height: 75px;
  -o-object-fit: contain;
     object-fit: contain;
}

.header .topHeader .landsFilters {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: (1fr)[6];
      grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  width: 75%;
}

.header .topHeader .landsFilters .landsFilters__button {
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  color: darkblue;
}

@media (max-width: 500px) {
  .header .topHeader .landsFilters .landsFilters__button {
    padding: 5px 5px;
  }
}

.header .topHeader .landsFilters .Adventureland {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 1 / 1 / 3 / 4;
  font-family: "Princess Sofia";
  font-size: 21px;
  font-weight: 800;
}

.header .topHeader .landsFilters .Adventureland--active {
  background-color: green;
  color: white;
}

@media (max-width: 500px) {
  .header .topHeader .landsFilters .Adventureland {
    font-size: 16px;
  }
}

.header .topHeader .landsFilters .Fantasyland {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-area: 1 / 4 / 3 / 7;
  font-family: "Butterfly Kids";
  font-size: 26px;
  font-weight: 800;
}

.header .topHeader .landsFilters .Fantasyland--active {
  background-color: #ffc5e0;
}

@media (max-width: 500px) {
  .header .topHeader .landsFilters .Fantasyland {
    font-size: 18px;
  }
}

.header .topHeader .landsFilters .MainStreetUSA {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: 5 / 2 / 7 / 6;
  font-family: "Old Standard TT";
  font-size: 18px;
  font-weight: 600;
}

.header .topHeader .landsFilters .MainStreetUSA--active {
  background-color: goldenrod;
}

@media (max-width: 500px) {
  .header .topHeader .landsFilters .MainStreetUSA {
    font-size: 14px;
  }
}

.header .topHeader .landsFilters .Discoveryland {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-area: 3 / 4 / 5 / 7;
  font-family: "Audiowide";
  font-size: 16px;
  font-weight: 500;
}

.header .topHeader .landsFilters .Discoveryland--active {
  background-color: blueviolet;
  color: white;
}

@media (max-width: 500px) {
  .header .topHeader .landsFilters .Discoveryland {
    font-size: 12px;
  }
}

.header .topHeader .landsFilters .Frontierland {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 3 / 1 / 5 / 4;
  font-family: "Smokum";
  font-size: 24px;
  font-weight: 400;
}

.header .topHeader .landsFilters .Frontierland--active {
  background-color: brown;
  color: white;
}

@media (max-width: 500px) {
  .header .topHeader .landsFilters .Frontierland {
    font-size: 18px;
  }
}

.header .topHeader .landsFilters .ProductionCourtyard {
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: 4 / 2 / 7 / 6;
  font-family: "Limelight";
  font-size: 15px;
}

.header .topHeader .landsFilters .ProductionCourtyard--active {
  background-color: brown;
  color: white;
}

.header .topHeader .landsFilters .ToonStudio {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-area: 1 / 4 / 4 / 7;
  font-family: "Bangers";
  font-size: 18px;
}

.header .topHeader .landsFilters .ToonStudio--active {
  background-color: red;
  color: gold;
}

.header .topHeader .landsFilters .MarvelAvengersCampus {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 1 / 1 / 4 / 4;
  font-family: "Bebas Neue";
  font-size: 16px;
}

.header .topHeader .landsFilters .MarvelAvengersCampus--active {
  background-color: red;
  color: white;
}

.header .topHeader .landsFilters .allLandButton {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-area: 5 / 6 / 7 / 7;
  color: darkblue;
}

.header .topHeader .landsFilters .favoritebtn {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 5 / 1 / 7 / 2;
}

.header .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10%;
  width: 100%;
}

.header .slider__intro {
  font-size: 14px;
  font-weight: 550;
  color: darkblue;
  text-align: right;
}

@media (max-width: 500px) {
  .header .slider__intro {
    font-size: 14px;
  }
}

.header .slider__barAndValue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .slider__value {
  font-size: 18px;
  font-weight: 700;
  color: darkblue;
}

@media (max-width: 500px) {
  .header .slider__value {
    font-size: 16px;
  }
}

.header .slider__bar {
  width: 70%;
  color: darkblue;
}

h2, h3, p {
  margin: 0;
}

.mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px;
}

@media (max-width: 500px) {
  .mainContainer {
    margin: 10px;
  }
}

.mainContainer .attraction {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  width: 100%;
  margin-top: 20px;
}

.mainContainer .attraction .attractionIcon {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 3 / 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 500px) {
  .mainContainer .attraction .attractionIcon {
    max-width: 50px;
  }
}

.mainContainer .attraction .attractionInfo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: 1 / 2 / 2 / 6;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 500px) {
  .mainContainer .attraction .attractionInfo {
    font-size: 12px;
  }
}

.mainContainer .attraction .attractionInfo .closed {
  color: #cc0000;
}

.mainContainer .attraction .location {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: 2 / 2 / 3 / 5;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.mainContainer .attraction .location__info {
  border-radius: 25px;
  border: #ffc5e0 solid 1px;
  padding: 2px 5px 2px 5px;
  /* &--Frontierland{
                font-family: "Smokum";
            } */
}

@media (max-width: 500px) {
  .mainContainer .attraction .location {
    font-size: 10px;
  }
}

.mainContainer .attraction .favorite {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-area: 2 / 5 / 3 / 6;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.mainContainer .attraction .attractionKpi {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-area: 1 / 6 / 3 / 7;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 18px;
  font-weight: 700;
}

@media (max-width: 500px) {
  .mainContainer .attraction .attractionKpi {
    font-size: 14px;
  }
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 50px;
}
/*# sourceMappingURL=index.css.map */