$warning-color: #cc0000;
$fantasiland-bg-color: #ffc5e0;
$mainTextColor: darkblue;
$maxWidth: 500px;



html, body{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95vw;
}

.header{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 20px;
    gap: 5%;
    .topHeader{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        gap: 5%;
        .parcNavigation{
            display: flex;
            flex-direction: column;
            width: 25%;
            max-height: 200px;
            box-sizing: border-box;
            overflow: hidden;
            .logo{
                max-height:75px;
                object-fit: contain;
                @media (max-width: $maxWidth) {
       
                  }
            }
        }
        .landsFilters{
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(6, 1fr);        
            grid-column-gap: 10px;
            grid-row-gap: 10px;
            width:75%;
            .landsFilters__button{
                border: none;
                border-radius: 20px;
                padding: 10px 20px;
                color: $mainTextColor;
                ;
                @media (max-width: $maxWidth) {
                    padding: 5px 5px;
                   }
            }
            .Adventureland{
                grid-area: 1 / 1 / 3 / 4;
                font-family: "Princess Sofia";
                font-size: 21px;
                font-weight: 800;
                &--active{
                    background-color: green;
                    color: white;
                }
                @media (max-width: $maxWidth) {
                    font-size: 16px;
                   }
            }
            .Fantasyland{
                grid-area: 1 / 4 / 3 / 7;
                font-family: "Butterfly Kids";
                font-size: 26px;
                font-weight: 800;
                &--active{
                    background-color: $fantasiland-bg-color;
                }
                @media (max-width: $maxWidth) {
                    font-size: 18px;
                   }
            }
            .MainStreetUSA{
                grid-area: 5 / 2 / 7 / 6; 
                font-family: "Old Standard TT";
                font-size: 18px;
                font-weight: 600;
                &--active{
                    background-color: goldenrod;
                }
                @media (max-width: $maxWidth) {
                    font-size: 14px;
                   }
            }
            .Discoveryland{
                grid-area: 3 / 4 / 5 / 7;;
                font-family: "Audiowide";
                font-size: 16px;
                font-weight: 500;
                &--active{
                    background-color: blueviolet;
                    color: white;
                }
                @media (max-width: $maxWidth) {
                    font-size: 12px;
                   }
            }
            .Frontierland{
                grid-area: 3 / 1 / 5 / 4;
                font-family: "Smokum";
                font-size: 24px;
                font-weight: 400;
                &--active{
                    background-color: brown;
                    color: white;
                }
                @media (max-width: $maxWidth) {
                    font-size: 18px;
                   }
            }
            .ProductionCourtyard{
                grid-area: 4 / 2 / 7 / 6;
                font-family: "Limelight";
                font-size: 15px;
    
                &--active{
                    background-color: brown;
                    color: white;
                }
            }
            .ToonStudio{
                grid-area: 1 / 4 / 4 / 7;
                font-family: "Bangers";
                font-size: 18px;
                &--active{
                    background-color: red;
                    color: gold;
                }
            }
            .MarvelAvengersCampus{
                grid-area: 1 / 1 / 4 / 4;
                font-family: "Bebas Neue";
                font-size: 16px;
                &--active{
                    background-color: red;
                    color: white;
                }
            }
            .allLandButton{
                grid-area: 5 / 6 / 7 / 7; 
                color: darkblue;
            }
            .favoritebtn{
                grid-area: 5 / 1 / 7 / 2;
    
            }
        }
    }

    .slider{
        display: flex;
        flex-direction: column;
        gap: 10%;
        width: 100%;
        &__intro{
            font-size: 14px;
            font-weight: 550;
            color: $mainTextColor;
            text-align: right;
            @media (max-width: $maxWidth) {
                font-size: 14px;
               }
        }
        &__barAndValue{
            display: flex;
            width: 100%;
            gap: 10%;
           align-items: center;
        }
        &__value{
            font-size: 18px;
            font-weight: 700;
            color: $mainTextColor;

            @media (max-width: $maxWidth) {
                font-size: 16px;
               }
        }
        &__bar{
            width: 70%;
            color: $mainTextColor;
        }
    }
}

h2, h3, p {
    margin:0;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    margin: 50px;
    @media (max-width: $maxWidth) {
        margin: 10px;
       }
    .attraction{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 0px;

        width: 100%;
        margin-top: 20px;
        .attractionIcon{
            grid-area: 1 / 1 / 3 / 2;
            align-self: center;
           
            @media (max-width: $maxWidth) {
                max-width: 50px;
               }
        }
        .attractionInfo{
            grid-area: 1 / 2 / 2 / 6;
            align-self: center;

            @media (max-width: $maxWidth) {
                font-size: 12px;
               }
            .closed{
                color: $warning-color
            }
        }
        .location{
            grid-area: 2 / 2 / 3 / 5;
            align-self: center;
            display: flex;
            
            &__info{
            border-radius: 25px;
            border:$fantasiland-bg-color solid 1px;
            padding: 2px 5px 2px 5px;

            /* &--Frontierland{
                font-family: "Smokum";
            } */
            }

            @media (max-width: $maxWidth) {
                font-size: 10px;
               }
            gap: 20px;
        }
        .favorite{
            grid-area: 2 / 5 / 3 / 6;
            align-self: center;
            justify-self: center;
        }
        .attractionKpi{
            grid-area: 1 / 6 / 3 / 7;
            align-self: center;
            justify-self: center;
            font-size: 18px;
            font-weight: 700;
            @media (max-width: $maxWidth) {
                font-size: 14px;
               }
        }
    }
  }


h1 {
  font-size: 2em;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 50px;
}
