$warning-color: #cc0000;
$fantasiland-bg-color: #ffc5e0;
$maxWidth: 500px;



html, body{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95vw;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    .landsFilters{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);        
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        width:60%;
        .landsFilters__button{
            border: none;
            border-radius: 20px;
            padding: 10px 20px;
            @media (max-width: $maxWidth) {
                padding: 5px 5px;
               }
        }
        .Adventureland{
            grid-area: 1 / 1 / 3 / 4;
            font-family: "Princess Sofia";
            color: darkblue;
            font-size: 21px;
            font-weight: 800;
            &--active{
                background-color: green;
            }
            @media (max-width: $maxWidth) {
                font-size: 16px;
               }
        }
        .Fantasyland{
            grid-area: 1 / 4 / 3 / 7;
            font-family: "Butterfly Kids";
            color: darkblue;
            font-size: 26px;
            font-weight: 800;
            &--active{
                background-color: $fantasiland-bg-color;
            }
            @media (max-width: $maxWidth) {
                font-size: 18px;
               }
        }
        .MainStreetUSA{
            grid-area: 5 / 2 / 7 / 6; 
            font-family: "Old Standard TT";
            color: darkblue;
            font-size: 18px;
            font-weight: 600;
            @media (max-width: $maxWidth) {
                font-size: 14px;
               }
        }
        .Discoveryland{
            grid-area: 3 / 4 / 5 / 7;;
            font-family: "Audiowide";
            color: darkblue;
            font-size: 16px;
            font-weight: 500;
            @media (max-width: $maxWidth) {
                font-size: 12px;
               }
        }
        .Frontierland{
            grid-area: 3 / 1 / 5 / 4;
            font-family: "Smokum";
            color: darkblue;
            font-size: 24px;
            font-weight: 400;
            @media (max-width: $maxWidth) {
                font-size: 18px;
               }
        }
        .allLandButton{
            grid-area: 5 / 6 / 7 / 7; 
            color: darkblue;
        }
    }
    .logo{
        width: 40%;
        max-width: 400px;
        @media (max-width: $maxWidth) {
           width: 40%;
          }
    }
}

h2, h3, p {
    margin:0;
}

main{
    display: flex;
    flex-direction: column;
    margin: 50px;
    @media (max-width: $maxWidth) {
        margin: 10px;
       }
    .attraction{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin-top: 50px;
        .attractionIcon{
            width: 10%;
        }
        .attractionInfo{
            display: flex;
            flex-direction: column;
            width: 70%;
            @media (max-width: $maxWidth) {
                font-size: 12px;
               }
            .closed{
                color: $warning-color
            }
            .location{
                display: flex;
                gap: 20px;
            }
        }
        .attractionKpi{
            display: flex;
            font-size: x-large;
            font-weight: 700;
            @media (max-width: $maxWidth) {
                font-size: 18px;
               }
        }
    }
  }


h1 {
  font-size: 2em;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 50px;
}
